:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
.main-home{
    .main-bg{
        background: #D8EFE2;
    }
}

.dash-heading{
    background: #F6FCF8;
    border-bottom: 1px solid #3BB062;
}

