.heading{
    font-size: 20px;
    font-weight: bold;
}

.position-relative {
    svg {
        width: 14px;
        top: 10px;
        left: 6px;
    }
}


.mat-form-field-infix{
    input{
        margin-left: 22px;
    }
}


