<div class="flex flex-col flex-auto w-full">
    <form [formGroup]="tranForm">
    <div class="flex flex-wrap w-full  mx-auto p-6 pb-0">
        <div class=" shadow w-full flex bg-white p-3 rounded">
            <div class="w-3/6">
                <div class="mb-3 flex">
                    <div class="w-3/6 pr-2">
                        <label  class="form-label">Start Date</label>
                        <input
                            formControlName="startDate"
                            type="date"
                               class="form-control rounded-full"
                               placeholder="name@example.com">
                    </div>
                    <div class="w-3/6 px-2">
                        <label  class="form-label">End Date</label>
                        <input
                            formControlName="EndDate"
                            type="date"
                            class="form-control rounded-full"
                            placeholder="name@example.com">
                    </div>

                </div>
            </div>
            <div class="w-3/6 text-right self-end">
                <div class="mb-3">
                    <button
                        class="hidden sm:inline-flex ml-3"
                        mat-flat-button
                        [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:save'"></mat-icon>
                        <span class="ml-2">Download Pdf</span>
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div class="flex flex-wrap w-full  mx-auto p-6 pt-3">


        <div class="flex items-center justify-between w-full">
            <div class="dash-heading w-8/12">
                <div class="text-2xl font-semibold tracking-tight leading-8">Transactions History Records</div>
            </div>
            <div class="flex items-center ml-6">
                <select class="form-select shadow-sm rounded-full" aria-label="Default select example">
                    <option selected>Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
        </div>


        <div class="sm:col-span-2 lg:col-span-3  flex flex-col  overflow-hidden w-full">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-4  sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class=" text-center w-full">
                            <thead class="border-b text-black   " style="background: #DEE2E6">
                            <tr>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Transaction ID
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Date
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Sender
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Receiver
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Amount
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">

                                    Email
                                </th>
                                <th scope="col" class="text-sm font-medium  px-6 py-4">
                                    Status
                                </th>
                            </tr>
                            </thead >
                            <tbody>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-success mr-2 ">check_circle_outline</mat-icon>
                                        <p class="self-center text-success font-medium">
                                            Completed
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-danger mr-2 ">highlight_off</mat-icon>
                                        <p class="self-center text-danger font-medium">
                                            Rejected
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-success mr-2 ">check_circle_outline</mat-icon>
                                        <p class="self-center text-success font-medium">
                                            Completed
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-danger mr-2 ">highlight_off</mat-icon>
                                        <p class="self-center text-danger font-medium">
                                            Rejected
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-success mr-2 ">check_circle_outline</mat-icon>
                                        <p class="self-center text-success font-medium">
                                            Completed
                                        </p>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold "><a href="#">John Doe</a></td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    July 17, 2021, 09:22 AM
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Albert Bryant
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Sarah Coleman
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    Rs. 38.50
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    sarah.coleman@gmail.com
                                </td>

                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex">
                                        <mat-icon class="text-danger mr-2 ">highlight_off</mat-icon>
                                        <p class="self-center text-danger font-medium">
                                            Rejected
                                        </p>
                                    </div>
                                </td>

                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-md shadow px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6">
                <div class="flex-1 flex justify-between sm:hidden">
                    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>
                    <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>
                </div>
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">1</span>
                            to
                            <span class="font-medium">10</span>
                            of
                            <span class="font-medium">97</span>
                            results
                        </p>
                    </div>
                    <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                            <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Previous</span>
                                <!-- Heroicon name: solid/chevron-left -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                            <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                            <a href="#" aria-current="page" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 1 </a>
                            <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 2 </a>
                            <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 3 </a>
                            <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700"> ... </span>
                            <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium"> 8 </a>
                            <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 9 </a>
                            <a href="#" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> 10 </a>
                            <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Next</span>
                                <!-- Heroicon name: solid/chevron-right -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

        </div>



    </div>

    </form>
</div>
