
.max-w-screen-xl{
    .main-home{
        .main-bg{
            background: #D8EFE2 !important;
        }
    }
}
.main-bg{
    background: #D8EFE2 !important;
}
.main-heading {
    font-size: 1.35rem !important;
    font-weight: bold;
}

.card-heading{
    color: #3AACFF;
}


.transaction-table {
    th {
        min-width: 230px;
        text-align: center;
    }


    td{
        min-width: 230px;
        overflow-wrap: break-word;

        padding: 0px 3px;
    }
}

