<div class="flex flex-col flex-auto w-full">
    <form [formGroup]="tranForm">
    <div class="flex flex-wrap w-full  mx-auto p-6 pb-0">
        <div class="flex items-center justify-between w-full">
            <div class="dash-heading flex items-center justify-between w-full">
                <div class="text-2xl font-semibold tracking-tight leading-8">Transactions History Records</div>

                <div class="flex items-center ml-6">
                    <button mat-button mat-stroked-button class="mat-focus-indicator w-28 btn-outline-success mat-button mat-stroked-button mat-button-base" data-bs-toggle="collapse"
                            data-bs-target="#filter" aria-expanded="false" aria-controls="filter">
                        Filter
                        <mat-icon class="mr-2 text-green ml-4 ">keyboard_arrow_down</mat-icon>
                    </button>
                            <button
                                class="hidden sm:inline-flex ml-2"
                                mat-flat-button
                                (click)="downloadPdf()"
                                [color]="'primary'">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:save'"></mat-icon>
                                <span class="ml-2">Download Pdf</span>
                            </button>
<!--                    <div class="flex items-center ml-6">-->
<!--                        <select class="form-select shadow-sm rounded-full" aria-label="Default select example">-->
<!--                            <option selected>Newest</option>-->
<!--                            <option value="1">Oldest</option>-->
<!--                            <option value="2">Two</option>-->
<!--                            <option value="3">Three</option>-->
<!--                        </select>-->
<!--                    </div>-->
                </div>
            </div>
        </div>


        <div class="collapse w-full mt-1" id="filter">
            <div class="bg-white p-3 shadow rounded">
                <div class="  w-full flex ">
                    <div class="w-3/6">
                        <div class="flex">
                            <div class="w-100 pr-2">

                                <mat-form-field  color="#FB6D3B" appearance="fill" class="w-full">
                                    <mat-label style="color: #FB6D3B">Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" [min]="startend" [max]="max" [formGroup]="tranForm">
                                        <input matStartDate
                                               readonly
                                               (dateChange)="minEndDate()"
                                               formControlName="startDate"
                                               placeholder="Start date">
                                        <input matEndDate
                                               readonly
                                               [max]="minEnd"
                                               (dateChange)="OnchangeEndDate()"
                                               formControlName="endDate"
                                               placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                    <!--                                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
                                    <!--                                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-lg-5 self-center">
                        <button
                            (click)="onCancel()"
                            type="button"
                            class="mat-focus-indicator hidden sm:inline-flex bg-gray-400 text-white w-25 mat-flat-button mat-button-base w-25"
                            mat-flat-button>
                            <mat-icon
                                class="icon-size-5">sync
                            </mat-icon>
                            <span class="ml-2">Reset</span>
                            <span class="mat-button-wrapper"></span>
                            <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span>
                            <span class="mat-button-focus-overlay"></span>
                        </button>
                        <button
                            style="background-color: #FB6D3B"
                            type="button"
                            mat-flat-button
                            class="mat-focus-indicator text-white sm:inline-flex ml-3 mat-flat-button mat-button-base"
                            (click)="getTransactions()">
                            <mat-icon class="mr-2 text-white icon-size-5">
                                refresh
                            </mat-icon>
                            Load Record
                            <span class="mat-button-wrapper"></span>
                            <span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span>
                            <span class="mat-button-focus-overlay"></span>
                        </button>
                    </div>

                </div>

            </div>

        </div>
        </div>

    <div class="flex flex-wrap w-full  mx-auto p-6 pt-3">
        <div class="sm:col-span-2 lg:col-span-3  flex flex-col  overflow-hidden w-full">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-4  sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <mat-table class="transaction-table"  [dataSource]="dataSource">

                            <ng-container matColumnDef="TranID">
                                <th *matHeaderCellDef>Transaction ID</th>
                                <td *matCellDef="let user">{{user.transId?user.transId:"-"}}</td>
                            </ng-container>

                            <ng-container matColumnDef="TranDate">
                                <th *matHeaderCellDef>Date</th>
                                <td
                                    *matCellDef="let user">{{user.transactionDateTime?user.transactionDateTime:"-" | date: 'M/d/yy, h:mm a'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Sender">
                                <th *matHeaderCellDef>Sender</th>
                                <td
                                    *matCellDef="let user">{{user.sender?user.sender:"-"}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Recipient">
                                <th *matHeaderCellDef>Receiver</th>
                                <td
                                    *matCellDef="let user">{{user.receipent?user.receipent:"-"}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Amount">
                                <th *matHeaderCellDef>Amount</th>
                                <td
                                    *matCellDef="let user">{{user.amount | currency}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Email">
                                <th *matHeaderCellDef>Email</th>
                                <td
                                    *matCellDef="let user">{{user.email?user.email:"-"}}</td>
                            </ng-container>


                            <ng-container matColumnDef="TranStatus">
                                <th *matHeaderCellDef>Status</th>
                                <td class="duration-cell"
                                    *matCellDef="let user"><p [ngClass]="returnColor(user.transactionStatus)">{{returnStatus(user.transactionStatus)}}</p></td>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"
                                            class="border-b bg-gray-800 text-white"></mat-header-row>

                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                     class="text-center"></mat-row>

                        </mat-table>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-md shadow px-4 py-3 flex items-center justify-between border-gray-200 sm:px-6">
                <div class="flex-1 flex justify-between sm:hidden">
                    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>
                    <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>
                </div>
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <mat-paginator #paginator
                                   [pageSize]="5"
                                   [pageSizeOptions]="[5, 10, 20]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
